body {
    background-color: #202123;
    font-family: Arial, sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.button1 {
  background-image: url(https://cdn.discordapp.com/attachments/1070767407989268541/1071099111975178310/image.png);
  background-repeat: no-repeat;
  background-position: center left;
  background-color: transparent;
  border: 1px solid #333;
  border-radius: 4px;
  color: #F7F9FA;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 15px;
  text-align: center;
  width: 100px;
  height: 50px;
  margin: 10px;
  transition: all 0.3s ease-in-out;
}

.button1:hover {
  transform: scale(1.1);
  cursor: pointer;
}


.button2 {
  background-image: url(https://cdn.discordapp.com/attachments/1070767407989268541/1071097201876553869/image.png);
  background-repeat: no-repeat;
  background-position: center left;
  background-color: transparent;
  border: 1px solid #333;
  border-radius: 4px;
  color: #F7F9FA;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 15px;
  text-align: center;
  width: 100px;
  height: 50px;
  margin: 10px;
  transition: all 0.3s ease-in-out;
}

.button2:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.button3 {
  background-image: url(https://cdn.discordapp.com/attachments/1070767407989268541/1071100542950047849/image.png);
  background-repeat: no-repeat;
  background-position: center left;
  background-color: transparent;
  border: 1px solid #333;
  border-radius: 4px;
  color: #F7F9FA;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 15px;
  text-align: center;
  width: 100px;
  height: 50px;
  margin: 10px;
  transition: all 0.3s ease-in-out;
}

.button3:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.button4 {
  background-image: url(https://cdn.discordapp.com/attachments/1070767407989268541/1071102568337518652/image.png);
  background-repeat: no-repeat;
  background-position: center left;
  background-color: transparent;
  border: 1px solid #333;
  border-radius: 4px;
  color: #F7F9FA;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 15px;
  text-align: center;
  width: 100px;
  height: 50px;
  margin: 10px;
  transition: all 0.3s ease-in-out;
}

.button4:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.button5 {
  background-image: url(https://cdn.discordapp.com/attachments/1070767407989268541/1071107690635468840/image.png);
  background-repeat: no-repeat;
  background-position: center left;
  background-color: transparent;
  border: 1px solid #333;
  border-radius: 4px;
  color: #F7F9FA;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 15px;
  text-align: center;
  width: 100px;
  height: 50px;
  margin: 10px;
  transition: all 0.3s ease-in-out;
}

.button5:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.button6 {
  background-image: url(https://cdn.discordapp.com/attachments/1070767407989268541/1071109399344586792/image.png);
  background-repeat: no-repeat;
  background-position: center left;
  background-color: transparent;
  border: 1px solid #333;
  border-radius: 4px;
  color: #F7F9FA;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 15px;
  text-align: center;
  width: 100px;
  height: 50px;
  margin: 10px;
  transition: all 0.3s ease-in-out;
}

.button6:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.button7 {
  background-image: url(https://cdn.discordapp.com/attachments/1070767407989268541/1071110437099274270/image.png);
  background-repeat: no-repeat;
  background-position: center left;
  background-color: transparent;
  border: 1px solid #333;
  border-radius: 4px;
  color: #F7F9FA;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 15px;
  text-align: center;
  width: 100px;
  height: 50px;
  margin: 10px;
  transition: all 0.3s ease-in-out;
}

.button7:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.button8 {
  background-image: url(https://cdn.discordapp.com/attachments/1070767407989268541/1071111243835912202/image.png);
  background-repeat: no-repeat;
  background-position: center left;
  background-color: transparent;
  border: 1px solid #333;
  border-radius: 4px;
  color: #F7F9FA;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 15px;
  text-align: center;
  width: 100px;
  height: 50px;
  margin: 10px;
  transition: all 0.3s ease-in-out;
}

.button8:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.button9 {
  background-image: url(https://cdn.discordapp.com/attachments/1057396317229428776/1071136854457450556/image.png);
  background-repeat: no-repeat;
  background-position: center left;
  background-color: transparent;
  border: 1px solid #333;
  border-radius: 4px;
  color: #F7F9FA;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 15px;
  text-align: center;
  width: 100px;
  height: 50px;
  margin: 10px;
  transition: all 0.3s ease-in-out;
}

.button9:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.button10 {
  background-image: url(https://cdn.discordapp.com/attachments/1048266266999279716/1071399644015382538/image.png);
  background-repeat: no-repeat;
  background-position: center left;
  background-color: transparent;
  border: 1px solid #333;
  border-radius: 4px;
  color: #F7F9FA;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 15px;
  text-align: center;
  width: 100px;
  height: 50px;
  margin: 10px;
  transition: all 0.3s ease-in-out;
}

.button10:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.button11 {
  background-image: url(https://cdn.discordapp.com/attachments/1048266266999279716/1071402642342936616/image.png);
  background-repeat: no-repeat;
  background-position: center left;
  background-color: transparent;
  border: 1px solid #333;
  border-radius: 4px;
  color: #F7F9FA;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 15px;
  text-align: center;
  width: 100px;
  height: 50px;
  margin: 10px;
  transition: all 0.3s ease-in-out;
}

.button11:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.button12 {
  background-image: url(https://cdn.discordapp.com/attachments/1070767407989268541/1071102568337518652/image.png);
  background-repeat: no-repeat;
  background-position: center left;
  background-color: transparent;
  border: 1px solid #333;
  border-radius: 4px;
  color: #F7F9FA;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 15px;
  text-align: center;
  width: 100px;
  height: 50px;
  margin: 10px;
  transition: all 0.3s ease-in-out;
}

.button12:hover {
  transform: scale(1.1);
  cursor: pointer;
}
  
  
  a {
    text-decoration: none;
    color: inherit;
  }

  .title {
    color: white;
    text-shadow: 0 0 5px white;
    width: 50px;
    height: 2px;
  }
  
  
  
