body {
  background-color: #202123;
  font-family: Arial, sans-serif;
}

.container {
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
}

.button {
background-repeat: no-repeat;
background-position: center left;
background-color: transparent;
border: 1px solid #333;
border-radius: 4px;
color: #F7F9FA;
font-size: 14px;
font-weight: 500;
padding: 10px 15px;
text-align: center;
width: 100px;
height: 50px;
margin: 10px;
transition: all 0.3s ease-in-out;
}

.button:hover {
transform: scale(1.1);
cursor: pointer;
}
